[submodule "monero"]
	path = monero
	url = https://github.com/writegsqword/gwb.git
	ignore = all
	branch = master
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc/
