[Desktop Entry]
Name=GWB GUI
GenericName=Monero-GUI
Comment=GWB GUI
Exec=monero-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getmonero.Monero
StartupNotify=true
